@model MStarSupplyControl.IoC.DTOs.GerenciamentoEntradaDTO
@{
    ViewData["Title"] = "Formulario de registro de entrada de mercadoria";
}

<form asp-controller="Gerenciamento" asp-action="RegistrarEntrada" method="post">
    <div class="displayCadastro">
        <h3 class="fontStyle">Registro de entrada de mercadoria</h3>
    </div>
    <div class="formularioAltura">
        <div class="form-row inputAjustes">
            <div class="form-group col-md-4">
                <label class="fontStyle" for="Nome">Mercadoria *</label>
                <select id="mercadoria" name="Mercadoria" asp-for="Mercadoria" class="form-select inputStyle"></select>
                @Html.ValidationMessageFor(x => x.Mercadoria)
            </div>

            <div class="form-group col-sm-1">
                <label class="fontStyle" for="Quantidade">Quantidade *</label>
                <input type="text" asp-for="Quantidade" class="form-control inputStyle">
                @Html.ValidationMessageFor(x => x.Quantidade)
            </div>
        </div>
        <div class="form-row inputAjustes">
            <div class="form-group col-md-2">
                <label class="fontStyle" for="DataDeEntrada">Data</label>
                <input type="text" asp-for="DataDeEntrada" id="dataCampo" class="form-control inputStyle" style="text-align:center">
                @Html.ValidationMessageFor(x => x.DataDeEntrada)
            </div>
            <div class="form-group col-md-2">
                <label class="fontStyle" for="HoraDeEntrada">Hora</label>
                <input type="text" asp-for="HoraDeEntrada" id="horaCampo" class="form-control inputStyle" style="text-align:center">
                @Html.ValidationMessageFor(x => x.HoraDeEntrada)
            </div>
            <div class="form-group col-md-4">
                <label class="fontStyle" for="Local">Local *</label>
                <input type="text" asp-for="Local" class="form-control inputStyle">
                @Html.ValidationMessageFor(x => x.Local)
            </div>
        </div>
    </div>
    <div class="posicaoBotao">
        <button type="submit" class="botaoStyle">Registrar</button>
    </div>

</form>

